.checkbox-label {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 14px;
    margin-top: 20px;
}

.checkbox-label input {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s, border-color 0.3s;
    cursor: pointer;
}

.checkbox-label input:checked {
    background-color: #4CAF50;
    border-color: #4CAF50;
}

.checkbox-label input:checked + .checkmark {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid #4CAF50;
    position: relative;
    transition: transform 0.3s ease;
    transform: scale(1.2);
}

.checkbox-label input:checked + .checkmark:after {
    content: "✔";
    color: #4CAF50;
    position: absolute;
    top: 2px;
    left: 5px;
    font-size: 14px;
}

.checkRGPD {
    display: flex;
    flex-flow: row;
}